<div class="container center shadow-lg">
  <div>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step [stepControl]="pollFromGroup">
        <h1 style="text-align:center">
          {{'poll.register_form.title'|translate}}
        </h1>
        <div class="poll info">
          <section class="section">
            <div class="columns is-centered">
              <div class="column is-one-third">
                <form [formGroup]="pollFromGroup" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label class="label">{{'poll.register_form.question'|translate}}</label>
                    <textarea class="form-control"
                              type="text"
                              formControlName="question"></textarea>
                  </div>
                  <label class="label">{{'poll.register_form.options'|translate}} </label>
                  <div formArrayName="options" class="form-group "
                       *ngFor="let option of options.controls;let i=index">
                    <input class="form-control"
                           type="text"
                           placeholder="{{'poll.register_form.option'|translate}}"
                           [formControlName]="i">
                  </div>
                  <br/>
                  <div *ngIf="options.length<=5">

                    <button type="button" class="btn btn-info btn-sm" (click)="addOption()">+</button>
                  </div>
                  <div>
                    <button mat-button matStepperPrevious>مرحله قبل</button>
                    <button mat-button matStepperNext type="submit">مرحله بعد</button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </mat-step>

      <mat-step [stepControl]="configFormGroup">
        <h1 style="text-align:center">
          {{'poll.register_form.title'|translate}}
        </h1>
        <div class="poll info">
          <section class="section">
            <div class="columns is-centered">
              <div class="column is-one-third">
                <form [formGroup]="configFormGroup" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label class="label">{{'poll.register_form.type'|translate}}</label>
                    <select class="form-control"
                            formControlName="type">
                      <option value="private">{{'poll.register_form.private'|translate}}</option>
                      <option value="public">{{'poll.register_form.public'|translate}}</option>
                    </select>
                  </div>
                  &lt;!&ndash; *ngif() &ndash;&gt;
                  <label class="label">{{'poll.register_form.password'|translate}} </label>
                  <div class="form-group ">
                    <input class="form-control"
                           type="password"
                           placeholder="{{'poll.register_form.password'|translate}}"
                           formControlName="password">
                  </div>
                  <label class="label">{{'poll.register_form.securityLevel'|translate}} </label>
                  <select class="form-control"
                          formControlName="securityLevel">
                    <option value="multipleVote">{{'poll.register_form.multipleVote'|translate}}</option>
                    <option value="light">{{'poll.register_form.light'|translate}}</option>
                    <option value="heavy">{{'poll.register_form.heavy'|translate}}</option>
                    <option value="blockByIp">{{'poll.register_form.blockByIp'|translate}}</option>
                  </select>
                  <label class="label">{{'poll.register_form.timeLimited'|translate}} </label>
                  <select class="form-control"
                          formControlName="timeLimited">
                    <option value="true">{{'poll.register_form.true'|translate}}</option>
                    <option value="false">{{'poll.register_form.false'|translate}}</option>

                  </select>
                  &lt;!&ndash; *ngif() &ndash;&gt;
                  <label class="label">{{'poll.register_form.expireDate'|translate}} </label>
                  <div class="form-group ">
                    <input class="form-control"
                           type="text"
                           placeholder="{{'poll.register_form.expireDate'|translate}}"
                           formControlName="expireDate">
                  </div>
                  <div class="form-group">
                    <label class="label-container">{{'poll.register_form.showResultToOther'|translate}}
                      <input formControlName="showResultToOther" type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-group">
                    <label class="label-container">{{'poll.register_form.otherOption'|translate}}
                      <input formControlName="otherOption" type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-group">
                    <label class="label-container">{{'poll.register_form.selectMultiple'|translate}}
                      <input formControlName="selectMultiple" type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div>
                    <button mat-button matStepperPrevious>{{'poll.previous' | translate }}</button>
                    <button mat-button matStepperNext type="submit">{{'poll.next' | translate }}</button>
                  </div>


                </form>
              </div>
            </div>
          </section>
        </div>
      </mat-step>

      <mat-step [stepControl]="pollFromGroup">

        <div class="shadow paddinged" mat-grid-avatar>

          <div>
            <section class="section top-margined">
              <div class="columns is-centered">
                <div class="column is-one-third">

                  <form [formGroup]="pollFromGroup" disabled="disabled">


                    <div id="theme8" class="soft-border shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-light  float-left border-dark">رأی</button>
                          <button class="btn btn-light float-right border-dark">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                    <div id="theme1" class="soft-border bg-primary shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-primary border-white  float-left ">رأی</button>
                          <button class="btn btn-primary border-white float-right ">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                    <div id="theme2" class="bg-dark soft-border shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-dark border-white  float-left ">رأی</button>
                          <button class="btn btn-dark border-white float-right ">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                    <div id="theme3" class="bg-danger soft-border shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-danger  float-left border-white">رأی</button>
                          <button class="btn btn-danger float-right border-white">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                    <div id="theme4" class="bg-light soft-border shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-light float-left border-dark ">رأی</button>
                          <button class="btn btn-light float-right border-dark">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                    <div id="theme5" class="bg-info soft-border shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-info  float-left border-danger">رأی</button>
                          <button class="btn btn-info float-right border-danger">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                    <div id="theme6" class="bg-secondary soft-border shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-secondary  float-left border-white">رأی</button>
                          <button class="btn btn-secondary float-right border-white">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                    <div id="theme7" class="bg-success soft-border shadow-lg">
                      <div class="paddinged">
                        <h1 style="text-align:center">
                          آیا با این نظرسنجی موافقید ؟
                        </h1>
                        <div formArrayName="options">
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            بله
                          </label>
                          <br/>
                          <label>
                            <input type="radio" class="option-input radio" name="example"/>
                            خیر
                          </label>
                          <br/>
                          <br/>
                          <button class="btn btn-success  float-left border-white">رأی</button>
                          <button class="btn btn-success float-right border-white">نتیجه</button>
                          <br/>
                          <br/>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>{{'poll.previous' | translate }}</button>
          <button mat-button matStepperNext type="submit">{{'poll.next' | translate }}</button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

