<div class="container center shadow-lg">
  <div>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step [stepControl]="pollFromGroup">
        <h1 style="text-align:center">
          {{'poll.register_form.title'|translate}}
        </h1>
        <div class="poll info">
          <section class="section">
            <div class="columns is-centered">
              <div class="column is-one-third">
                <form [formGroup]="pollFromGroup" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label class="label">{{'poll.register_form.question'|translate}}</label>
                    <textarea class="form-control"
                              type="text"
                              formControlName="question"></textarea>
                  </div>
                  <label class="label">{{'poll.register_form.options'|translate}} </label>
                  <div class="form-group ">
                    <input class="form-control"
                           type="text"
                           placeholder="{{'poll.register_form.option'|translate}}"
                           formControlName="defaultOption">
                  </div>
                  <div formArrayName="options" class="form-group "
                       *ngFor="let option of options.controls;let i=index">
                    <div *ngIf="i<=10">
                      <input class="form-control"
                             type="text"
                             placeholder="{{'poll.register_form.option'|translate}}"
                             [formControlName]="i">
                    </div>
                  </div>
                  <br/>
                  <button type="button" class="btn btn-info btn-sm" (click)="addOption()">+</button>
                  <div>
                    <button  mat-button matStepperPrevious><i class="fa fa-home"></i></button>
                    <button   mat-button matStepperNext type="submit"> <i class="fa fa-home"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
      </mat-step>

      <mat-step [stepControl]="configFormGroup">
        <h1 style="text-align:center">
          {{'poll.register_form.title'|translate}}
        </h1>
        <div class="poll info">
          <section class="section">
            <div class="columns is-centered">
              <div class="column is-one-third">
                <form [formGroup]="configFormGroup" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label class="label">{{'poll.register_form.type'|translate}}</label>
                    <select class="form-control"
                            formControlName="type">
                      <option value="private">{{'poll.register_form.private'|translate}}</option>
                      <option value="public">{{'poll.register_form.public'|translate}}</option>
                    </select>
                  </div>
                  <!-- *ngif() -->
                  <label class="label">{{'poll.register_form.password'|translate}} </label>
                  <div class="form-group ">
                    <input class="form-control"
                           type="password"
                           placeholder="{{'poll.register_form.password'|translate}}"
                           formControlName="password">
                  </div>
                  <label class="label">{{'poll.register_form.securityLevel'|translate}} </label>
                  <select class="form-control"
                          formControlName="securityLevel">
                    <option value="multipleVote">{{'poll.register_form.multipleVote'|translate}}</option>
                    <option value="light">{{'poll.register_form.light'|translate}}</option>
                    <option value="heavy">{{'poll.register_form.heavy'|translate}}</option>
                    <option value="blockByIp">{{'poll.register_form.blockByIp'|translate}}</option>
                  </select>
                  <label class="label">{{'poll.register_form.timeLimited'|translate}} </label>
                  <select class="form-control"
                          formControlName="timeLimited">
                    <option value="true">{{'poll.register_form.true'|translate}}</option>
                    <option value="false">{{'poll.register_form.false'|translate}}</option>

                  </select>
                  <!-- *ngif() -->
                  <label class="label">{{'poll.register_form.expireDate'|translate}} </label>
                  <div class="form-group ">
                    <input class="form-control"
                           type="text"
                           placeholder="{{'poll.register_form.expireDate'|translate}}"
                           formControlName="expireDate">
                  </div>
                  <div class="form-group">
                    <label class="label-container">{{'poll.register_form.showResultToOther'|translate}}
                      <input formControlName="showResultToOther" type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-group">
                    <label class="label-container">{{'poll.register_form.otherOption'|translate}}
                      <input formControlName="otherOption" type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div class="form-group">
                    <label class="label-container">{{'poll.register_form.selectMultiple'|translate}}
                      <input formControlName="selectMultiple" type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <div>
                    <button mat-button matStepperPrevious>{{'poll.previous' | translate }}</button>
                    <button mat-button matStepperNext type="submit">{{'poll.next' | translate }}</button>
                  </div>


                </form>
              </div>
            </div>
          </section>
        </div>
      </mat-step>

      <mat-step [stepControl]="finalFormGroup">
        <form [formGroup]="finalFormGroup">
          <mat-form-field>
            <mat-select placeholder="{{'poll.register_form.type' | translate }}">
              <mat-option value="private">{{'poll.register_form.private' | translate }}</mat-option>
              <mat-option value="public">{{'poll.register_form.public' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{'poll.previous' | translate }}</button>
            <button mat-button matStepperNext>{{'poll.next' | translate }}</button>
          </div>
        </form>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
