/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
*{
  direction: rtl;
  align-items: right;
  align-content: right;
  alignment: right;
  text-align: right;
}
